<div *ngIf="form" [formGroup]="form">
  <div class="container mx-auto py-8 lg:px-40">
    <div class="controls mb-8">
      <h1 class="header">Comparing usage of <code>withLatestFrom</code> and <code>combineLatestWith</code></h1>
      <mat-radio-group aria-label="Select an option" formControlName="correctSolution">
        <mat-radio-button [value]="true">withLatestFrom</mat-radio-button>
        <mat-radio-button [value]="false">combineLatestWith</mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <app-with-latest-from *ngIf="getFormValue('correctSolution')"></app-with-latest-from>
      <app-combine-latest *ngIf="!getFormValue('correctSolution')"></app-combine-latest>
    </div>
  </div>
</div>
